body {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
  .timelapse{
    border:solid;
    padding: 1px;
  }

  .shortcuts{
    border:solid;
    padding: 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .shortcuts .pop-up {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 10px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -80px;
  }

  /* uses a general sibling selector */
  .shortcuts:hover .pop-up {
    visibility: visible;
    color: rgb(247, 243, 243);
  }

  .shortcuts:hover{
    color: rgb(247, 243, 243);
  }
  
/* Dropdown Button */
.dropbtn {
  background-color: #31b0da;
  color: white;
  padding: 3px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #929792;}

/* #toggle-draw { */
    /* background: #ffffff; */
    /* border: 1px solid #000000; */
    /* color: white; */
    /* padding: 4px 10px; */
    /* font-weight: bold; */
    /* border-radius: 4px; */
    /* cursor: pointer; */
/* } */
