body {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    text-align: left;
    vertical-align: middle;
}

#toggle-draw {
    background: #ce0000;
    border: 1px solid #000000;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}