body {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  .shortcuts{
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .shortcuts .pop-up {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 10px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -80px;
  }

  /* uses a general sibling selector */
  .shortcuts:hover .pop-up {
    visibility: visible;
    color: rgb(247, 243, 243);
  }

  .shortcuts:hover{
    color: rgb(247, 243, 243);
  }


#toggle-draw {
    background: #ce0000;
    border: 1px solid #000000;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
