body {
    background-color: lightblue;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: bottom;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1000;
    /* border: 5px solid rgb(176, 179, 230); */
}

#card {
    padding-top: 20px;
    width: 344px;
    height: 344px;
    margin: auto;
    overflow: hidden;
}

#card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
@keyframes pulse{
    from, to{
        scale: 1;
        opacity: 1;
    }
    50%{
        scale:1.08;
        opacity: 0.9;
    }
}

#card:hover > img{
    animation: pulse 800ms ease-in-out;
}
    
/* .shrink card:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
} */