body {
    background-color: lightblue;
    color: navy;
    text-align: center;
    vertical-align: middle;
}

.toggleDraw{
    background: #ce0000;
    border: 1px solid #000000;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}